#text-content {
  display: inline-block ;
  width: 45%;
}

#gutter {
  display: inline-block ;
  width: 9% ;
}

#illustration {
  display: inline-block ;
  vertical-align: top ;
  width: 45% ;
  height: 400px ;
  background: #555 ;
}
