@font-face {
  font-family: Junction ;
  src: url('../fonts/Junction.otf') ;
}

.box {
  width: 370px ;
  padding: 8px 15px ;
  margin: 0 0 0.6em ;
  background: #ddd ;
  text-indent: 0 ;
  font-size: 10.5pt ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;

  break-inside: avoid ;
  -webkit-column-break-inside: avoid ;
  -moz-column-break-inside: avoid ;
}

.box h2 {
  font-size: 17px ;
  color: #555 ;
  font-family: Junction, "Helvetica Neue", Helvetica, Arial, sans-serif ;
  font-weight: normal ;
  line-height: 11px ;
}

.sidenote {

}

.synopsis {
  background: #ddd ;
  padding: 5px 15px ;
  margin-bottom: 1em ;
  clear: both ;

  -moz-column-span: all ;
  -webkit-column-span: all ;
  column-span: all ;
}

.synopsis h2 {
  text-align: center ;
  margin: 0 ;
}

.synopsis p {
  margin: 0 ;
}
